# Habilita la sobre escritura de las directrices del servidor
RewriteEngine On

# Evitar que se listen los directorios
Options All -Indexes


# Utiliza RewriteRule para eliminar todo lo que venga después de la carpeta recetas y así asegurar que la aplicación siempre se ejecuta en el index.php. 
# Todo lo que venga en la url después de la carpeta recetas va a ser una variable que se llama views de forma que todo lo que reciba será $1

# Permite todos los caracteres entre a y z, entre A y Z, del 0 al 9 y "/", ñ y Ñ en la url, que se almacena en la variable, mediante la regex. 
RewriteRule ^([a-zA-z0-9/ñÑ-]+)$ index.php?views=$1

# Para que el servidor acepte CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
